<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title> Frappuccino </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Frappuccino</ion-title>
    </ion-toolbar>
  </ion-header>

  <div cards>
    <div class="grid-full">
        <ion-card color="light">
          <ion-card-header>
            <ion-grid>
              <ion-row>
                <ion-col><img src="assets/KU CHI TEA MENU/FRAPPUCCINO/butterscotchcoffee.png" alt="butterscotch-logo"></ion-col>
              </ion-row>
            </ion-grid>
            <ion-button [routerLink]="['/variation']" fill="clear" color="dark" size="small"><ion-icon name="add-circle" size="large" color="primary"></ion-icon> Butterscotch Coffee 
              <br> from PHP 150
            </ion-button>
            <p> Espresso made with brown sugar, caramel and milk </p>
          </ion-card-header>
        </ion-card>

        <ion-card color="light">
          <ion-card-header>
            <ion-grid>
              <ion-row>
                <ion-col><img src="assets/KU CHI TEA MENU/FRAPPUCCINO/chocobeancoffee.png" alt="chocobean-logo"></ion-col>
              </ion-row>
            </ion-grid>
            <ion-button [routerLink]="['/variation']" fill="clear" color="dark" size="small"><ion-icon name="add-circle" size="large" color="primary"></ion-icon> Choco Bean Coffee 
              <br> from PHP 150
            </ion-button>
            <p> Té made with cocoa and coffee bean </p>
          </ion-card-header>
        </ion-card>

        <ion-card color="light">
          <ion-card-header>
            <ion-grid>
              <ion-row>
                <ion-col><img src="assets/KU CHI TEA MENU/FRAPPUCCINO/cookiehazelnut.png" alt="cookiehazelnut-logo"></ion-col>
              </ion-row>
            </ion-grid>
            <ion-button [routerLink]="['/variation']" fill="clear" color="dark" size="small"><ion-icon name="add-circle" size="large" color="primary"></ion-icon> Cookie Hazelnut 
              <br> from PHP 140
            </ion-button>
            <p> Hazelnut with creamy cookie crumble </p>
          </ion-card-header>
        </ion-card>

        <ion-card color="light">
          <ion-card-header>
            <ion-grid>
              <ion-row>
                <ion-col><img src="assets/KU CHI TEA MENU/FRAPPUCCINO/darkmocha.png" alt="darkmocha-logo"></ion-col>
              </ion-row>
            </ion-grid>
            <ion-button [routerLink]="['/variation']" fill="clear" color="dark" size="small"><ion-icon name="add-circle" size="large" color="primary"></ion-icon> Dark Mocha 
              <br> from PHP 140
            </ion-button>
            <p> Made with espresso, steamed milk and dark chocolate </p>
          </ion-card-header>
        </ion-card>

        <ion-card color="light">
          <ion-card-header>
            <ion-grid>
              <ion-row>
                <ion-col><img src="assets/KU CHI TEA MENU/FRAPPUCCINO/matchacreme.png" alt="matchacreme-logo"></ion-col>
              </ion-row>
            </ion-grid>
            <ion-button [routerLink]="['/variation']" fill="clear" color="dark" size="small"><ion-icon name="add-circle" size="large" color="primary"></ion-icon> Matcha Creme 
              <br> from PHP 130
            </ion-button>
            <p> Milk-based green tea </p>
          </ion-card-header>
        </ion-card>
      </div>
    </div>